@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
    transition: background-color 3s, color 0.3s;
}

ul::-webkit-scrollbar {
    width: 8px;
}

ul::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 8px;
}

ul::-webkit-scrollbar-track {
    background: #202230;
    border-radius: 8px;
}

.dark ul::-webkit-scrollbar-thumb {
    background: #232324;
}

.dark ul::-webkit-scrollbar-track {
    background: #60606d;
}